// Rules about contact information

#email {
    color: white;
    font-size: clamp(5px, 5vw, 45px);
}

#phone {
    color: white;
    font-size: clamp(5px, 5vw, 45px);
}

#phone-details {
    color: white;
    font-size: clamp(10px, 3vw, 16px);
}