// Rules about the page footer.

#footer-background {
    background-color: #060f1a;
    color: white;
}

#github-logo {
    display: block;
    margin-left: auto;
}

#linkedin-logo {
    display: block;
    margin-right: auto;
}

.link-image {
    height: 32px;
}