/* Custom styling for the navbar header. */

#logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 250px;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
}

#header-break {
    width: 90%;
    border: 1px #060f1a solid;
    margin-top: 0;
}

.navbar-link {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: white;
    text-decoration-color: #0076ff;
    text-shadow: 5px 5px 50px black;
}