a.nav-link {
  text-align: center;
}

button {
  border: none !important;
  box-shadow: none !important;
}

.navbar-brand {
  margin: none !important;
}

#resume-link {
  border: 1px solid black;
  border-radius: 50px;
  margin-left: 5px;
}

#resume-link:hover {
  background-color: black;
  color: white;
}